body{

  text-align: center;
}
img{
  max-width:100%;
  max-height:100%;
}
/* background */

#myvideo{
  position:fixed;
  right:0;

  bottom:-10%;
  min-width:100%;
  min-height:100%;
}
.background{
  position:relative;
  background-color:rgba(14,47,72,0.85);
}



/* navbar */
.corp-logo-container{
  position:absolute;
  top:0;
  left:5%;
  padding: 0.5% 0.5%;
}
.corp-logo{
  padding: 3% 5%;
  text-align: center;
}

.nav-div-out{
  margin-top: 2rem;
  padding: 1.2rem;
  font-size: 1rem;


}
.nav-div{

  border-top: 1px solid;
  border-color: white;
  color: white;
  padding:0 20px;
}
.nav-div:hover, .nav-div:focus{
  border-color:#7890A3;

  color:#7890A3;

}


.navbar-dark .navbar-nav .nav-link{
  color:inherit;
}
.navbar-dark .navbar-nav .nav-link:focus{
  color:inherit;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color:inherit;
}
/* startup logo */
.startup{
  padding-top: 10%;
  padding-bottom: 10%;
  }

.startup-left{
  background-color: #00305b;
}

.startup-left, .startup-right{
  padding:0;
}
.startup-title{
  margin-top: 15%;
  color:white;

}
.bg-font{
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
  font-size:60px;
  line-height: 0.9em;
}
/* startup plan */
.plan-title{

  text-align: left;
  font-size:40px;
  font-weight: bold;
  color:white;
  line-height:0.9em;

}
.plan-tdiv{
  padding-top:20%;
  padding-left: 60%;
}
.plan-tb{
  letter-spacing:0.25em;
  text-shadow: 3px 3px 2px black;
}
.plan-steps{
  text-align: left;
}
.steps{

  color:white;
  width:50%;

  font-size:19px;

}
.step1{
  position:relative;
  left:20%;
}
.step2, .step3, .step4, .step5, .step6{
  position:relative;
  bottom:72px;
}
.step3{
  bottom:156px;
  left:233px;
}
.step4{
  bottom:197px;
  left:162px;
}
.step5{
  bottom: 264px;
  left:-30px;
}
.step6{
  bottom: 367px;
  left:189px;
}


.step1-img, .step3-img,.step6-img, .step4-img{
  margin-left:30px;
}
.step2-img, .step5-img{
  margin-right:30px;
}

/* article */
.article{
  margin: -15% auto 5%;
  font-size:15px;
  width:45%;
  text-align: left;

  color:#CCCCCC;
}

/* footer */
footer{
  background-color:white;
}
.footer{
  display:inline-block;
  font-size: 13px;
  color: #0E2E47;
  margin: 0 3% 2%;
}
