<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Yuchak Corporation | 创业项目</title>
  <!-- bootstrapcdn -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <!-- css -->
  <link rel="stylesheet" href="css/startup.css">

</head>

<body>
  <video autoplay muted id="myvideo" loop="true" width="100%">

    <source src="https://video.wixstatic.com/video/11062b_3e2f37c297534f9ead156265242fbca8/1080p/mp4/file.mp4" type="video/mp4">
  </video>
  <div class="background">


    <div class="top-half">







      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="#">
          <div class="corp-logo-container">
            <div class="corp-logo">
              <img class="" src="https://static.wixstatic.com/media/550097_d8223eeed79f4eb5b54c15e164a16daa~mv2.png/v1/fill/w_94,h_89,al_c,q_80,usm_0.66_1.00_0.01/yuchak%20corp%20logo.webp" alt="logo">
            </div>
            <div class="corp-logo">
              <img class="" src="https://static.wixstatic.com/media/550097_3e65a6af5eb94b5aa97f77afaeab6716~mv2.png/v1/fill/w_117,h_36,al_c,q_80,usm_0.66_1.00_0.01/yuchak%20corp%20logo%20text.webp" alt="logo">
            </div>
          </div>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <div class="nav-div-out">
                <div class="nav-div">
                  <a class="nav-link nav-title" href="index.html">首页</a>
                </div>
              </div>

            </li>
            <li class="nav-item">
              <div class="nav-div-out">
                <div class="nav-div">
                  <a class="nav-link nav-title" href="#">地产投资</a>
                </div>

              </div>
            </li>
            <li class="nav-item ">
              <div class="nav-div-out">
                <div class="nav-div">
                  <a class="nav-link nav-title" href="startup.html">创业项目</a>
                </div>

              </div>
            </li>
            <li class="nav-item ">
              <div class="nav-div-out">
                <div class="nav-div">
                  <a class="nav-link nav-title" href="#">最新资讯</a>
                </div>

              </div>
            </li>
            <li class="nav-item">
              <div class="nav-div-out">
                <div class="nav-div">
                  <a class="nav-link nav-title" href="#">关于我们</a>
                </div>

              </div>
            </li>



          </ul>
        </div>
      </nav>
