<%- include("partials/heading") -%>
<link rel="stylesheet" href="css/estate.css">
<table class="es-table">

  <tr>
    <td>

      <img class="tb-image" src="images/estate/es-t1.webp" alt="t1">

      <h6 class="tb-title">
        Axis Condominiums</h6>
      <p class="tb-p">Axis樓盤由著名開發商CentreCourt Developments開發建造，位於市中心Church/Carlton東北角（411 Church St)，1分鐘步行至Loblaws超市、ryerson大學運動中心，5分鐘步行到Ryerson大學校園、College地鐵站、Metro 24小時超市，8分鐘步行到多倫多大學校園，12分鐘步行至Eaton中心、Dundas廣場，周圍有5大醫院、金融中心、高級餐館酒吧，購物休閒餐飲樣樣方便。<br>
        Axis樓盤共38層高，590個單位，公共設施包括：健身中心、空中花園、影院、遊戲室、瑜伽室、派對房、空中酒吧和燒烤區等.</p>

    </td>
    <td>
      <img class="tb-image" src="images/estate/es-t2.webp" alt="t2">
      <h6 class="tb-title">8 Cumberland</h6>
      <p class="tb-p">8 Cumberland楼盘由著名开发商Great Gulf Development和Phantom Development共同开发建造，建筑设计由著名的Page + Steele IBI Group Architects完成，位于市中心最旺黄金地段Yonge/Bloor西北角（8 Cumberland
        )，Yorkville富豪社区内，地理位置非常优越，举步Yonge/Bloor地铁站，东西南北地铁交汇点，皇家博物馆、皇家音乐学院、多伦多大学、省议会大楼、Yorkville Village购物中心，是多伦多商业文化中心，周围有顶级名牌时装街、数百家高级餐馆，该区的房价一直引领多伦多最前线。</p>

    </td>
  </tr>
</table>

<div class="subject1">
  <h1 class="s-title">ORLANDO 奥兰多专题</h1>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/estate/s1-cp1.webp" alt="First slide">
      </div>
      <div class="carousel-item">
        <img  src="images/estate/s1-cp2.webp" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img  src="images/estate/s1-cp3.webp" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="subject2">
  <h1 class="s-title">MIAMI 迈阿密专题</h1>

</div>
<%- include("partials/footer") -%>
