<%- include("partials/heading") -%>
<title>Yuchak Corporation | 地产投资</title>
<link rel="stylesheet" href="css/estate.css">


<table class="es-table">

  <tr>
    <td>

      <img class="tb-image" src="images/estate/es-t1.webp" alt="t1">

      <h6 class="tb-title">
        Axis Condominiums</h6>
      <p class="tb-p">Axis樓盤由著名開發商CentreCourt Developments開發建造，位於市中心Church/Carlton東北角（411 Church St)，1分鐘步行至Loblaws超市、ryerson大學運動中心，5分鐘步行到Ryerson大學校園、College地鐵站、Metro 24小時超市，8分鐘步行到多倫多大學校園，12分鐘步行至Eaton中心、Dundas廣場，周圍有5大醫院、金融中心、高級餐館酒吧，購物休閒餐飲樣樣方便。<br>
        Axis樓盤共38層高，590個單位，公共設施包括：健身中心、空中花園、影院、遊戲室、瑜伽室、派對房、空中酒吧和燒烤區等.</p>

    </td>
    <td>
      <img class="tb-image" src="images/estate/es-t2.webp" alt="t2">
      <h6 class="tb-title">8 Cumberland</h6>
      <p class="tb-p">8 Cumberland楼盘由著名开发商Great Gulf Development和Phantom Development共同开发建造，建筑设计由著名的Page + Steele IBI Group Architects完成，位于市中心最旺黄金地段Yonge/Bloor西北角（8 Cumberland
        )，Yorkville富豪社区内，地理位置非常优越，举步Yonge/Bloor地铁站，东西南北地铁交汇点，皇家博物馆、皇家音乐学院、多伦多大学、省议会大楼、Yorkville Village购物中心，是多伦多商业文化中心，周围有顶级名牌时装街、数百家高级餐馆，该区的房价一直引领多伦多最前线。</p>

    </td>
  </tr>

  <tr>
    <td>

      <img class="tb-image" src="images/estate/es-t3.webp" alt="t3">

      <h6 class="tb-title">
        Annex Yorkville Connection Condos</h6>
      <p class="tb-p">AYC(Annex Yorkville Connection Condos)Avenue Rd與Davenport Rd的交界處(181 Bedford Road)由Metropia與DiamondCorp共同開發建造，共有27層354個住宅單位。Annex社區，比鄰著名Yorkville高檔社區，步行9分鐘到Dupont南北向地鐵站和St George東西向地鐵站，步行還可到皇家博物館、多倫多大學、加拿大最大的圖書館、Yorkville
        Village購物中心、名牌時裝街、高級餐館酒吧，生活交通都非常方便。</p>

    </td>
    <td>

      <img class="tb-image" src="images/estate/es-t4.webp" alt="t4">

      <h6 class="tb-title">

        Aquabella</h6>
      <p class="tb-p">Aquabella樓盤由多倫多最著名開發商Tridel和Hines聯手開發建造，Tridel擁有70多年的建築經驗，建造過超過70,000個單位，是多倫多公認的十大最著名的開發商之一，尤其是高層建築，更是數一數二，它在設計品味、建造質量、大樓管理、客戶信譽等方面在整個行業名列前茅,是值得信賴的名開發商。</p>

    </td>
  </tr>
  <tr>
    <td>

      <img class="tb-image" src="images/estate/es-t5.webp" alt="t5">

      <h6 class="tb-title">

        Cosmos III</h6>
      <p class="tb-p">
        Cosmos III樓盤位於旺市Jane & Hwy7（190 Maplecrete Road），旺市正在建設的市中心，由名開發商Liberty Development開發建造， 共有34層366個住宅單位，面積490呎-1540呎可選，房型1房-3房可選，價格28萬起。整個項目會有多棟辦公及住宅大樓，餐館、超市及休閒娛樂設施，生活交通方便，距離旺市地鐵站僅數分鐘的步行距離，地鐵延長線正在緊鑼密鼓地施工，預計2017年建成使用，到時去到約克大學只要8分鐘的時間，去到
        downtown市中心只要45分鐘的時間。</p>

    </td>
    <td>

      <img class="tb-image" src="images/estate/es-t6.webp" alt="t6">

      <h6 class="tb-title">

Rodeo Drive</h6>
      <p class="tb-p">Rodeo Drive由著名开发商Lanterra Developments 和Cadillac Fairview 共同开发建造，位于北约克169 The Donway West (Don Mills and Lawrence East)，面对Shops at Don Mills 商业中心，该中心分布着100多家专卖店和餐馆超市银行，购物环境非常休闲舒适，毗邻著名的Don Mills 高中，出门TTC直达地铁站，几分钟车程至DVP和Hwy401，未来轻轨连接士嘉堡和皮尔逊机场，周围大型公园、豪宅社区、社区中心、高尔夫球场、公立私立学校都在不远处，生活交通都很方便。</p>

    </td>
  </tr>
</table>
<div class="subject">


  <div class="subject2">
    <h1 class="s-title"> ORLANDO 奥兰多专题</h1>
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="content">
            <div class="word-container">
              <h4 class="text-title">​度假村中的度假村</h4>
              <hr>
              <p class="text-paragraph">Encore Resort Homes at Reunion is the perfect place to vacation, and to keep coming back! Minutes from Orlando’s world-famous excitement, our private resort community offers luxury homes with 5 to 13 bedroom
                floorplans and exclusive Encore Club with restaurants, bar, pool, fitness center and fabulous AquaPark.</p>
            </div>
          </div>
          <img src="images/estate/s1-cp1.webp" alt="First slide">
        </div>
        <div class="carousel-item">
          <div class="content">
            <div class="word-container">
              <h4 class="text-title">​四星級裝修標準</h4>
              <hr>
              <p class="text-paragraph">Five to 13 bedroom floorplans, multiple master suites and lots of bathrooms mean everyone gets their private retreat. Generous dining room, living areas and game rooms let everyone spend time together
                comfortably.</p>
            </div>
          </div>
          <img src="images/estate/s1-cp2.webp" alt="Second slide">
        </div>
        <div class="carousel-item">
          <div class="content">
            <div class="word-container">
              <h4 class="text-title">​社區配套設施齊全</h4>
              <hr>
              <p class="text-paragraph">The spectacular clubhouse and fitness center overlooks Encore’s private AquaPark, which includes a huge drop slide, water slides, a beautiful pool, Surfin’ Safari children’s splash area, cabanas and lush
                tropical landscaping. We also feature fabulous outdoor facilities including soccer fields, tennis, basketball and sand volleyball courts.</p>
            </div>
          </div>
          <img src="images/estate/s1-cp3.webp" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev carousel-arrow" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>

      </a>
      <a class="carousel-control-next carousel-arrow" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>

      </a>
    </div>



  </div>


  <div class="subject2">
    <h1 class="s-title">MIAMI 迈阿密专题</h1>

    <div id="carouselIndicators2" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#carouselIndicators2" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators2" data-slide-to="1"></li>
        <li data-target="#carouselIndicators2" data-slide-to="2"></li>
        <li data-target="#carouselIndicators2" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="content">
            <div class="word-container">
              <h4 class="text-title">​The Ritz-Carlton Residences</h4>
              <hr>
              <p class="text-paragraph">Located in the heart of magnificent Sunny Isles Beach, with spectacular views of the Atlantic Ocean and Intracoastal Waterway, The Ritz-Carlton Residences, Sunny Isles Beach stands between the prestigious Bal
                Harbour Shops and Aventura Mall </p>
            </div>
          </div>
          <img src="images/estate/s2-cp1.webp" alt="First slide">
        </div>
        <div class="carousel-item">
          <div class="content">
            <div class="word-container">
              <h4 class="text-title">​The Ritz-Carlton Residences</h4>
              <hr>
              <p class="text-paragraph">The unprecedented luxury and superb design and architecture are complimented by a location in close proximity to all of the excitement, culture and beauty of South Florida.</p>
            </div>
          </div>
          <img src="images/estate/s2-cp2.webp" alt="Second slide">
        </div>
        <div class="carousel-item">
          <div class="content">
            <div class="word-container">
              <h4 class="text-title">​3900 Alton Miami</h4>
              <hr>
              <p class="text-paragraph">Rising gracefully amid the turquoise waters of Biscayne Bay, 3900 Alton brings the modern design of internationally acclaimed master architect Ricardo Bofill to the historic heart of Miami Beach, offering a
                residential enclave of luxury, convenience, and breathtaking views. </p>
            </div>
          </div>
          <img src="images/estate/s2-cp3.webp" alt="Third slide">
        </div>
        <div class="carousel-item">
          <div class="content">
            <div class="word-container">
              <h4 class="text-title">​3900 Alton Miami</h4>
              <hr>
              <p class="text-paragraph">Developer Mast Capital has assembled a visionary team of designers, artists, and craftsmen to create a lifestyle of quiet elegance and stunning beauty in an unrivaled location.</p>
            </div>
          </div>
          <img src="images/estate/s2-cp4.webp" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev carousel-arrow" href="#carouselIndicators2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>

      </a>
      <a class="carousel-control-next carousel-arrow" href="#carouselIndicators2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>

      </a>
    </div>
  </div>


</div>

<div class="discussion">
  <div class="title1">
    <h6 class="d-date">Jan 03, 2017</h6>
    <h3 class="d-title">买HOUSE好还是买CONDO好？</h3>
    <p class="d-p">
      经常会有人问这个问题，买HOUSE好还是买CONDO好？我想从上面这个图表来说明一下我的看法。上面这个图表是多伦多地产局最新发布的数据：在大多地区，100万以上的房子占10%，80-100万的房子的占8%，60-80万的房子的人占18%，40-60万占31%，20-40万占31%，20万以下占3%。从上面数据看，住60万以下房子的人群占65%，而CONDO的价钱大多在这个范围内，说明CONDO还是有大量的需求。在HOUSE日益昂贵的今天和未来，很多人只能选择买公寓。我得出的结论是：HOUSE和CONDO各自有存在的道理。
    </p>
  </div>
</div>

<%- include("partials/footer") -%>
