
/* estates developers */

.es-table{
  margin: 200px auto;
  width:80%;
  table-layout: fixed;
}
.es-table img{
  height:8.854vw;
  width:8.854vw;
}
.tb-title, .tb-p{

  color:#CCCCCC;
  font-family:futura-lt-w01-light, sans-serif;
  text-align: left;
  overflow: hidden;
}
.tb-title{
  font-size:1.484vw;
}
.tb-p{
  font-size:0.938vw;
}


.tb-image{
  float:left;
  margin: 0 40px;
}
td{
  padding-bottom: 4.688vw;
}

/* subjects */

/* subject1 */
.subject img{
  width:100%;
}
.subject1, .subject2{
  margin: 9.375vw auto;
  width: 75%;

}

.s-title{
  text-align: left;
  font-size: 2.109vw;
  font-weight: bold;
  text-shadow:rgba(0, 0, 0, 0.4) 0px 0.313vw 0.391vw;
  letter-spacing:0.25em;
  font-family:"Raleway";
  color:white;
}

.carousel-arrow{
  width:5%;
  height:10%;
  margin-top:20%;
  filter: invert(100%);
}
.content{
  position:absolute;
  top:0;
  right:0;
  background-color:rgba(255,255,255, 0.8);
  height:100%;
  width:35%;
}
hr{
  width:10%;
  border: 1px solid black;
  margin-top:30px;

}
.word-container{
  margin:15% auto 0;
  width:75%;
}
.text-title{
  font-size:2.188vw;
}

.text-paragraph{
  font-family: "Raleway";
  font-size:1.016vw;
  color: #0E2E47;
  line-height:190%;
  margin-top:30px;
}

/* discussion */
.discussion{
  width:50%;
  margin: 100px auto;
  color: #CCCCCC;
  text-align:left;
}
.d-date{
  font-size:0.938vw;
  font-family:"Arial","Helvetica","sans-serif";
}
.d-title{
  font-size:1.250vw;
  color: #A8BFD1;
}
.d-p{
  font-size: 0.938vw;
}

@media (min-width:1281px){
  .es-table{
    width:50%;
  }
  .es-table img{
    height:7.08rem;
    width:7.08rem;

  }
  .tb-title{
    font-size:1.187rem;
  }
  .tb-p{
    font-size:0.75rem;
  }
  td{
    padding-bottom: 3.7504rem;
  }

  .subject1, .subject2{
    margin: 7.5rem auto;
    width: 50%;

  }

  .s-title{

    font-size: 1.68rem;
    font-weight: bold;
    letter-spacing:0.25em;

  }

  .text-title{
    font-size:1.74rem;
  }

  .text-paragraph{
    font-size:0.848rem;
  }

  .d-date{
    font-size:0.78rem;
  }
  .d-title{
    font-size:1rem;

  }
  .d-p{
    font-size: 0.75rem;
  }

}
@media (min-width:1281px) and (max-width: 1600px){
  .subject1, .subject2{
    margin: 7.5rem auto;
    width: 70%;

  }
  .es-table{
    width:60%;
  }
}

@media(min-width:1600px) and (max-width:1750px){
  .subject1, .subject2{
    margin: 7.5rem auto;
    width: 60%;

  }
}
