img{
  width:100%;
}
/* big container */
.container-fluid {
  margin: 7.813vw 0;
}
.container{
  background-color: white;
  margin: 5vw auto ;

}


/* article */
.articles {
  margin: 0 auto;
  padding:2.344vw 0;

  width: 95%;
  text-align: left;
}

.a-t {
  font-size: 2.188vw;
  font-weight: bold;
  color: #0E2E47;
}

.a-d {
  font-size: 1.094vw;
  color: #0E2E47;
  font-weight: lighter;
}

.a-img {

  margin: 1.094vw 0;
}

.a-p {
  font-size: 1.09vw;
  color: #0E2E47;
}
/* feature */
.side {
  text-align: left;
  color:#0E2E47;
  width:80%;
  margin-top:15%;
}

.side hr {
border: 0.045vw solid #0E2E47;
}
.side h1{
  font-size: 1.484vw;
  font-weight:lighter;
}
.side img{
  width:100%;
  height:100%;
}
.side h2{
  font-size: 1.484vw;
  margin-top:2vw;
}
.side-date{
  font-size: 0.938vw;
  color: #0E2E47;
  font-weight:lighter;
}

/* recent */
.recent{
  margin: 3.906vw 0;
}

@media (min-width:1281px){

  /* big container */
  .container-fluid {
    margin: 6.250399999999999rem 0;
  }
  .container{

    margin: 4rem auto ;

  }


  /* article */
  .articles {

    padding:1.8752rem 0;

  }

  .a-t {
    font-size: 1.7504rem;

  }

  .a-d {
    font-size: 0.8752rem;

  }

  .a-img {

    margin: 0.8752rem 0;
  }

  .a-p {
    font-size: 0.872rem;
  }
  /* feature */


  .side hr {
  border: 0.036rem solid #0E2E47;
  }
  .side h1{
    font-size: 1.1871999999999998rem;

  }
  .side img{
    width:100%;
    height:100%;
  }
  .side h2{
    font-size: 1.1871999999999998rem;
    margin-top:1.6rem;
  }
  .side-date{
    font-size: 0.7504rem;
    color: #0E2E47;
    font-weight:lighter;
  }
}
