
/* startup logo */
.startup{
  margin-top: 10%;
  margin-bottom: 10%;


  }
.startup img{
  width:100%;
}

.startup-left{
  background-color: #00305b;
}

.startup-left, .startup-right{
  padding:0;
}

.startup-title{
  margin-top: 15%;
  color:white;

}
.bg-font{
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
  font-size:4.688vw;
  line-height: 0.9em;
}
.sm-font{
  font-size:1.250vw;
}
/* startup plan */
.plan-title{

  text-align: left;
  font-size:3.125vw;
  font-weight: bold;
  color:white;
  line-height:0.9em;

}
.plan-tdiv{
  padding-top:20%;
  padding-left: 60%;
}
.plan-tb{
  letter-spacing:0.25em;
  text-shadow: 0.234vw 0.234vw 0.156 black;
}
.plan-steps{
  text-align: left;
}
.steps{

  color:white;
  width:50%;

  font-size:1.484vw;

}
.step1{
  position:relative;
  left:20%;
}
.step2, .step3, .step4, .step5, .step6{
  position:relative;
  bottom:5.625vw;
}
.step3{
  bottom:12.188vw;
  left:18.203vw;
}
.step4{
  bottom:15.391vw;
  left:12.656vw;
}
.step5{
  bottom: 20.625vw;
  left:2.344vw;
}
.step6{
  bottom: 28.672vw;
  left:14.766vw;
}

.step1-img{
  height:8.281vw;
  width:8.281vw;
}
.step2-img{
  height:13.828vw;
  width:10.391vw;
}
.step3-img{
  width:8.516vw;
  height:11.094vw;
}
.step4-img{
  width:9.063vw;
  height:9.063vw;
}
.step5-img{
  height:12.578vw;
  width:9.453vw;
}
.step6-img{
  height:13.281vw;
  width:10.078vw;
}
.step1-img, .step3-img,.step6-img, .step4-img{
  margin-left:2.344vw;
}
.step2-img, .step5-img{
  margin-right:2.344vw;
}

/* article */
.article{
  margin: -15% auto 5%;
  font-size:1.172vw;
  width:45%;
  text-align: left;

  color:#CCCCCC;
}

/* footer */
footer{
  background-color:white;
}
.footer{
  display:inline-block;
  font-size: 1.016vw;
  color: #0E2E47;
  margin: 0 3% 2%;
}

@media (min-width: 1281px){
  .bg-font{
    font-size:3.75rem;
  }
  .sm-font{
    font-size:1rem;
  }

  .plan-title{
    font-size:2.5rem;
  }

  .steps{
    font-size:1.18rem;

  }
  .step1{
    position:relative;
    left:20%;
  }
  .step2, .step3, .step4, .step5, .step6{
    position:relative;
    bottom:4.5rem;
  }
  .step3{
    bottom:9.7504rem;
    left:14.5624rem;
  }
  .step4{
    bottom:12.3128rem;
    left:10.1248rem;
  }
  .step5{
    bottom: 16.5rem;
    left:1.8752rem;
  }
  .step6{
    bottom: 22.937600000000003rem;
    left:11.812800000000001rem;
  }

  .step1-img{
    height:6.6248000000000005rem;
    width:6.6248000000000005rem;
  }
  .step2-img{
    height:11.062399999999998rem;
    width:8.3128rem;
  }
  .step3-img{
    width:6.8128rem;
    height:8.8752rem;
  }
  .step4-img{
    width:7.2504rem;
    height:7.2504rem;
  }
  .step5-img{
    height:10.0624rem;
    width:7.562399999999999rem;
  }
  .step6-img{
    height:10.6248rem;
    width:8.0624rem;
  }
  .step1-img, .step3-img,.step6-img, .step4-img{
    margin-left:1.8752rem;
  }
  .step2-img, .step5-img{
    margin-right:1.8752rem;
  }


  .article{

    font-size:0.9376rem;

  }



  .footer{

    font-size: 0.8128000000000001rem;

  }
}
